{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <div class="fos_user_user_show">
        <h2>Mon compte</h2>

        <p class="verdana">Nom d'utilisateur: {{ user.username }}</p>

        <p><img src="{{ path('skin_user', { user: user.username }) }}"></p>

        <p class="verdana">{{ 'profile.show.email'|trans }}: {{ user.email }}</p>

        <p>
            <a href="{{ path('fos_user_change_password') }}" class="btn btn-warning">
                Changer mon mot de passe
            </a>
        </p>
    </div>

    <div class="fos_user_user_show mt50">
        <h2 class="mb20">Mes participations</h2>

        <div class="row">
            <div class="col-md-6">
                <div class="boxed box_link" onclick="document.location = '{{ path('participations') }}'">
                    <img src="{{ asset('bundles/mineservexpomain/images/programme.png') }}"/>

                    <h3 class="mce">Participations exposant</h3>

                    <p>Mes inscriptions en tant qu'exposant de la MSE</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="boxed box_link" onclick="document.location = '{{ path('concours') }}'">
                    <img src="{{ asset('bundles/mineservexpomain/images/partenaires.png') }}"/>

                    <h3 class="mce">Participation Concours</h3>

                    <p>Mon inscription au concours de construction</p>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
