<a class="btn show-link btn-small" target="_blank" href="{{ path('participation',{'slug':object.slug}) }}"><i
            class="icon-eye-open"></i> Voir</a>
{% if object.schematicName %}
    <a class="btn show-link btn-small" target="_blank" href="{{ asset(object.getWebPath()) }}"><i
                class="icon-download-alt"></i> Schematic</a>
{% endif %}