{% set _javascript = block('javascript') %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{ sonata_seo_title() }}
    {{ sonata_seo_metadatas() }}
    {{ sonata_seo_link_canonical() }}
    <link rel="canonical"
          href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"/>
    <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/osp-din" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css"/>
    {% block stylesheets %}
        {% stylesheets
        'bundles/mineservexpomain/css/bootstrap.min.css'
        'bundles/mineservexpomain/css/font-awesome.min.css'
        'bundles/mineservexpomain/css/*'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen"/>
        {% endstylesheets %}
    {% endblock %}
    {% block custom_stylesheets %}
    {% endblock %}
</head>

{% block html %}
    <body>
    {% block body %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="headerBag alert alert-success">
                    <i class="icon-check"></i> {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block header %}
            {% render(controller('MineServExpoMainBundle:Default:header')) %}
        {% endblock header %}
        <div class="container content-container" style="position: relative;">
            {% block content %}{% endblock content %}
        </div>
        {% block footer %}
            {% include "::footer.html.twig" %}
        {% endblock footer %}
    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% block javascripts %}
        {% javascripts
        '@MineServExpoMainBundle/Resources/public/js/bootstrap.min.js'
        '@MineServExpoMainBundle/Resources/public/js/bootstrap-filestyle.min.js'
        '@MineServExpoMainBundle/Resources/public/js/jquery.autosize.min.js'
        '@MineServExpoMainBundle/Resources/public/js/custom.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    {% block custom_javascripts %}
    {% endblock %}
    </body>
{% endblock %}
</html>
