<div class="text-center mce container footer_propulse">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <p>
                Evénement gracieusement propulsé par<br/>
                <a href="https://client.dedizones.com/link.php?id=40">
                    <img title="Partenaire: DediShops" target="_blank"
                         alt="Partenaire: DediShops"
                         src="{{ asset('bundles/mineservexpomain/images/partners/dedizones.png') }}" />
                </a>
            </p>
        </div>
        <!--
        <div class="col-md-5">
            <p>
                Avec la qualité du réseau<br/>
                <a href="http://www.online.net/" target="_blank">
                    <img title="Partenaire: Online.net"
                         alt="Partenaire: Online.net"
                         src="{{ asset('bundles/mineservexpomain/images/partners/online.png') }}" />
                </a>
            </p>
        </div>
        -->
        <div class="col-md-1">
        </div>
    </div>
</div>
<footer>
    <div class="container copyright">
        <div class="row">
            <div class="col-md-5">
                © 2013-2015 MineServExpo -
                Tous droits réservés -
                <a href="{{ path('page',{'slug':'mentions-legales'}) }}">Mentions Légales</a>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5">
                Design par <a href="mailto:hello.briqrouge@gmail.com">BriqRouge</a> -
                Réalisé par <a href="http://germain-carre.fr">Germain Carré</a>
            </div>
        </div>
    </div>
</footer>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-48469928-4', 'mineserv-exposition.fr');
    ga('send', 'pageview');

</script>