{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error|trans }}</div>
    {% endif %}

    <h2>Connexion</h2>
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

        <label for="username">{{ 'security.login.username'|trans }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>

        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input type="password" id="password" name="_password" required="required"/>

        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>
    </form>
    </div>
    <!--<div class="content-ext text-center">
        <h2>Pas encore de compte ?</h2>
        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-warning">Inscrivez-vous maintenant</a>
    </div>-->
    <div class="content text-center">
        <h3>Mot de passe oublié ?</h3>
        <p>
            <a href="{{ path("fos_user_resetting_request") }}" class="btn btn-warning">Récupération de mot de passe</a>
        </p>
{% endblock fos_user_content %}
