{% extends '::base.html.twig' %}

{% block content %}
    <div class="content form_default mt10">
        <p class="text-center">
            <img src="{{ asset('bundles/mineservexpomain/images/partners/languagecraft.png') }}">
        </p>

        {% if participation and participation.id %}
            <div class="banner banner-big">
                <h2 class="mce">Vous participez au concours</h2>

                <p>
                    Vous êtes actuellement inscrit avec l'équipe "{{ participation.name }}".<br/>
                    Voici la liste des joueurs de votre équipe:<br/>
                    - {{ participation.user }}<br/>
                    {% if participation.username2 %}
                        - {{ participation.username2 }}<br/>
                    {% endif %}
                    {% if participation.username3 %}
                        - {{ participation.username3 }}<br/>
                    {% endif %}
                    {% if participation.username4 %}
                        - {{ participation.username4 }}<br/>
                    {% endif %}
                </p>

                <p>
                    Vous pouvez modifier votre équipe via le formulaire ci-dessous.
                </p>
            </div>
        {% endif %}

        <h1>Participation au concours de construction</h1>

        <p>
            Les équipes sont composées de 1 à 4 personnes.
        </p>

        {#
        <div>
            <label for="mineservexpo_mainbundle_participation_concours_username1">
                Pseudo Minecraft du joueur n°1 (compte premium seulement) (vous)*
            </label>
            <input type="text" id="mineservexpo_mainbundle_participation_concours_username1"
                   name="mineservexpo_mainbundle_participation_concours[username1]"
                   placeholder="Joueur 1"
                   value="{{ app.user.username }}"
                   disabled="disabled"
                   class="user_skin"/>
        </div>
        #}
        <div class="banner banner-big">
            <h2 class="mce">Inscriptions terminees</h2>

            <p>
                Les inscriptions au concours sont maintenant terminées, merci pour vos participations.<br />
                Rendez-vous sur le serveur construction et teamspeak juste après la cérémonie d'ouverture (24/04 à 20h) pour commencer à construire !
            </p>
        </div>
        {#
            {{ form(form) }}
            * champ obligatoire
        #}
    </div>
    <div class="content">
        <h2>{{ title }}</h2>
        {{ content | raw }}
    </div>
    <script>
        var defaultBannerUrl = "{{ asset('bundles/mineservexpomain/images/img_perview_banner.png') }}";
    </script>
{% endblock %}