{% extends '::base.html.twig' %}

{% block content %}
    <div class="content-small search_expo mt30 mb20">
        <div class="row">
            <div class="col-md-4">
                {% if t == 'serveurs' %}
                    <div class="boxed box_inverted box_orange mb10"
                         onclick="document.location = '{{ path('exposants_search',{'q':q, 't':'all'}) }}'">
                        <h3 class="mce txt_center">Serveurs</h3>
                    </div>
                {% else %}
                    <div class="boxed box_inverted box_link mb10"
                         onclick="document.location = '{{ path('exposants_search',{'q':q, 't':'serveurs'}) }}'">
                        <h3 class="mce txt_center">Serveurs</h3>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-4">
                {% if t == 'youtubeurs' %}
                    <div class="boxed box_inverted box_orange mb10"
                         onclick="document.location = '{{ path('exposants_search',{'q':q, 't':'all'}) }}'">
                        <h3 class="mce txt_center">Youtubeurs</h3>
                    </div>
                {% else %}
                    <div class="boxed box_inverted box_link mb10"
                         onclick="document.location = '{{ path('exposants_search',{'q':q, 't':'youtubeurs'}) }}'">
                        <h3 class="mce txt_center">Youtubeurs</h3>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-4">
                {% if t == 'sites-web' %}
                    <div class="boxed box_inverted box_orange"
                         onclick="document.location = '{{ path('exposants_search',{'q':q, 't':'all'}) }}'">
                        <h3 class="mce txt_center">Sites Web</h3>
                    </div>
                {% else %}
                    <div class="boxed box_inverted box_link"
                         onclick="document.location = '{{ path('exposants_search',{'q':q, 't':'sites-web'}) }}'">
                        <h3 class="mce txt_center">Sites Web</h3>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="boxed text-center">
        <form id="search_form">
            <label class="mce" for="q">Exposants:</label>
            <input type="text" value="{{ q }}" size="50" name="q" />
            <input type="hidden" value="{{ t }}" name="t" />
            <input type="submit" class="btn search_expo_submit" value="Rechercher" />
        </form>
    </div>

    {% for participation in pagination %}
        {% include 'MineServExpoMainBundle:Default:participation_partial.html.twig' with {'participation': participation} %}
    {% else %}
        <div class="banner banner-big">
            <h2 class="mce">Exposants</h2>

            <p>Retrouvez bientôt ici la liste des exposants de la MineServ Exposition 2015.</p>

            <p>Vous souhaitez exposer ? Rendez-vous sur la page <a href="{{ path('participer') }}">Participer</a>.</p>
        </div>
    {% endfor %}

    <div class="content-small mb30">
        <div class="text-center mce">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}