<header>
    <div class="header_left text-center" target="_blank" style="margin-top:-20px; margin-left:-80px; font-size: 20px;width:300px;">
        <a href="https://client.dedizones.com/link.php?id=40">
            <img src="{{ asset('bundles/mineservexpomain/images/partners/dedizones.png') }}" />
        </a><br />
       Location de VPS et de serveurs Minecraft
    </div>
    <div class="user_profile">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

            <div class="user_profile_avatar">
                <img src="{{ path('face_user', { user: app.user.username }) }}"/>
            </div>
            <div class="user_profile_control">
                <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i></a>
                {{ app.user.username }}<br/>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('sonata_admin_redirect') }}" target="_blank"
                       class="btn btn-xs btn-warning">Admin</a>
                {% endif %}
                <a href="{{ path('fos_user_profile_show') }}" class="btn btn-xs btn-warning">Compte</a>
            </div>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}"
               class="btn btn-warning">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            <!--<a href="{{ path('fos_user_registration_register') }}"
               class="btn btn-warning">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>-->
        {% endif %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for key, message in messages %}
                <div class="flash-{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</header>

<div class="logo-container">
    <a href="{{ path('homepage') }}">
        <span class="logo"></span>
    </a>
</div>

<div class="navbar" role="navigation">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('homepage') }}">Accueil</a></li>
                <li><a href="{{ path('page',{'slug':'informations'}) }}">Informations</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('exposants') }}">Exposants</a></li>
                <li><a href="{{ path('page',{'slug':'programme'}) }}">Programme</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="subnav">
    <div class="container">
        <div class="subnavbar navbar-left">
            <a href="ts3server://ts.mineserv-exposition.fr/" class="orange">Teamspeak</a>
        </div>
        <div class="subnavbar navbar-right">
            Nous suivre :
            <a href="http://forum.mineserv-community.fr" target="_blank" title="Forum"><i class="fa fa-comments"></i></a>
            <a href="https://twitter.com/MineServExpo" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/MineservCommu" target="_blank" title="Facebook"><i class="fa fa-facebook-square"></i></a>
            <a href="https://www.youtube.com/channel/UCeP-NC0-oriNb4oZyItaMag" target="_blank" title="Youtube"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</div>