{% extends '::base.html.twig' %}

{% block content %}
    <div class="content-home">
        <div class="row">
            <div class="col-md-3 text-center mt30">
                {% for partner_name,partner_url in partners1 %}
                    <p>
                        <a href="{{ partner_url }}" target="_blank">
                            <img title="Partenaire: {{ partner_name | capitalize }}"
                                 alt="Partenaire: {{ partner_name | capitalize }}" class="nobanner"
                                 src="{{ asset('bundles/mineservexpomain/images/partners/' ~ partner_name ~ '.png') }}"/>
                        </a>
                    </p>
                {% endfor %}
            </div>
            <div class="col-md-6">
                <div class="boxed mt20 mb20">
                    <div>
                        <div class="banner-left">
                            24 25<br/>
                            26 27<br/>
                            AVRIL<br/>
                            2014<br/>
                        </div>
                        <iframe width="295" height="194" src="//www.youtube.com/embed/ztMD45_z5c4?rel=0" frameborder="0" allowfullscreen></iframe>

                        <div class="clear"></div>
                    </div>
                    <div class="mt5 orange">
                        Serveur: play.mineserv-exposition.fr -
                        <a href="https://minecraft.net/" class="orange" target="_blank" rel="nofollow">Minecraft 1.7.5</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center mt30">
                {% for partner_name,partner_url in partners2 %}
                    <p>
                        <a href="{{ partner_url }}" target="_blank">
                            <img title="Partenaire: {{ partner_name | capitalize }}"
                                 alt="Partenaire: {{ partner_name | capitalize }}" class="nobanner"
                                 src="{{ asset('bundles/mineservexpomain/images/partners/' ~ partner_name ~ '.png') }}"/>
                        </a>
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="content-ext txt_justify">
        {{ content | raw }}
    </div>
    <div class="content-big">
        <div class="row">
            <div class="col-md-4">
                <div class="boxed box_link" onclick="document.location = '{{ path('page',{'slug':'programme'}) }}'">
                    <img src="{{ asset('bundles/mineservexpomain/images/programme.png') }}"/>

                    <h3 class="mce">Programme</h3>

                    <p>Consultez le programme<br/>de cette année</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="boxed box_link" onclick="document.location = '{{ path('page',{'slug':'informations'}) }}'">
                    <img src="{{ asset('bundles/mineservexpomain/images/informations.png') }}"/>

                    <h3 class="mce">Informations</h3>

                    <p>Règlement et<br/>descriptif de la MSE</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="boxed box_link" onclick="document.location = '{{ path('page',{'slug':'partenaires'}) }}'">
                    <img src="{{ asset('bundles/mineservexpomain/images/partenaires.png') }}"/>

                    <h3 class="mce">Partenaires</h3>

                    <p>Ceux sans qui la MSE<br/>n'existerait pas</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}