{% extends '::base.html.twig' %}

{% block content %}
    <div class="content-big">
        <div class="boxed box_link" onclick="document.location = '{{ path('concours') }}'">
            <h2 class="mce">Participation Concours</h2>

            <p>
                Inscription au concours de construction organisé par
                <img style="display: block; margin: 10px auto 20px;" width="173" height="52" alt=""
                     src="https://dl.dropboxusercontent.com/u/53112363/LOGO%20LanguageCraft%20FR.png"/>
            </p>
        </div>

    </div>
    <div class="content-big">
        {% if participations %}
            <div class="boxed box_link" onclick="document.location = '{{ path('participations') }}'">
                <h2 class="mce">Participations exposant</h2>

                <p>Mes inscriptions en tant qu'exposant de la MSE</p>
            </div>
        {% else %}
            <div class="boxed">
                <h2 class="mce">Participations exposant</h2>

                <p>
                    {#
                       Avant de vous inscrire, merci de
                       <a href="{{ path('page',{'slug':'reglement'}) }}">lire les règles</a>.
                    #}
                    Les inscriptions sont maintenant fermées.
                </p>
            </div>
        {% endif %}
    </div>
    {#
    <div class="content-big">
        <div class="row">
            <div class="col-md-4">
                <div class="boxed box_link" onclick="document.location = '{{ path('participer_serveur') }}'">
                    <img src="{{ asset('bundles/mineservexpomain/images/serveurs.png') }}"/>

                    <h3 class="mce txt_center">Inscription<br/> pour les<br/> Serveurs</h3>

                    <p class="txt_justify">
                        Vous êtes le créateur d'un serveur minecraft, vous avez envie de partager votre expérience, mais
                        aussi de faire connaître votre communauté ? Vous souhaitez montrer ce que vous avez à proposer à
                        la communauté francophone minecraftienne ? Venez et participez au plus grand rassemblement des
                        serveurs minecraft francophones, pour échanger et partager votre enthousiasme et votre
                        expérience avec nous !
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="boxed box_link" onclick="document.location = '{{ path('participer_youtubeur') }}'">
                    <img src="{{ asset('bundles/mineservexpomain/images/youtubeurs.png') }}"/>

                    <h3 class="mce txt_center">Inscription<br/> pour les<br/> Youtubeurs</h3>

                    <p class="txt_justify">
                        Vous êtes Youtubeur et votre chaîne possède au minimum 5 vidéos pour une activité récente et
                        plus pour une activité de longue date ? Un suivi de la chaîne et des mises à jours régulières
                        font que votre chaine est vivante ? Venez dans ce cas faire découvrir vos centres d'intérêt et
                        ce qui fait de votre chaîne, une chaîne particulière !
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="boxed box_link" onclick="document.location = '{{ path('participer_site_web') }}'">
                    <img src="{{ asset('bundles/mineservexpomain/images/sitesweb.png') }}"/>

                    <h3 class="mce txt_center">Inscription<br/> pour les<br/> Sites Web</h3>

                    <p class="txt_justify">
                        Vous êtes à l'initiative de la création d'un site web dont le contenu est en lien direct avec le
                        jeu Minecraft et sa communauté ? Vous souhaiteriez faire connaître votre site en nous montrant
                        ce qu'il propose ? Venez donc participer à la Mineserv Expo afin de partager vos intérêts et
                        discuter avec la communauté des dernières informations et des derniers exploits réalisés sur
                        Minecraft !
                    </p>
                </div>
            </div>
        </div>
    </div>
    #}
{% endblock %}