{% extends '::base.html.twig' %}

{% block content %}
    <div class="content">
        <h1>{{ participation.name }}</h1>
    </div>

    <div class="banner">
        <img src="{{ participation.banner }}" id="img_perview_banner" width="530" height="150"/>
    </div>

    <div class="content-ext txt_justify">
        <div class="row">
            <div class="col-md-4 text-center participation_links">
                <p class="lettrine mt50 mb50">
                    {{ participation.typeText }}<br/>
                    {% if participation.type == 0 %}
                        Type: {{ participation.serverTypeText }}
                    {% endif %}
                </p>

                <p class="lettrine mt50 mb50">
                    {% if participation.audio %}
                        {% if participation.audioType == 0 %}
                            Teamspeak:<br/>
                            <a href="ts3server://{{ participation.audio }}/">{{ participation.audio }}</a>
                        {% else %}
                            Mumble:<br/>
                            <a href="mumble://{{ participation.audio }}/">{{ participation.audio }}</a>
                        {% endif %}
                    {% endif %}
                </p>
            </div>
            <div class="col-md-4">
                <p class="lettrine">{{ participation.description | nl2br }}</p>
            </div>
            <div class="col-md-4 text-center participation_links">

                {% if participation.website %}
                    <p class="lettrine mt50 mb50">
                        Site web :<br/>
                        <a href="http://{{ participation.website }}" target="_blank" rel="nofollow">
                            http://{{ participation.website }}
                        </a>
                    </p>
                {% endif %}

                {% if participation.twitter or participation.facebook or participation.youtube %}
                    <p class="lettrine mt50 mb50">
                        Réseaux sociaux :<br/>
                        {% if participation.twitter %}
                            <a href="https://twitter.com/{{ participation.twitter }}" target="_blank"
                               rel="nofollow"><i class="fa fa-twitter"></i></a>
                        {% endif %}
                        {% if participation.facebook %}
                            <a href="https://www.facebook.com/{{ participation.facebook }}" target="_blank"
                               rel="nofollow"><i class="fa fa-facebook-square"></i></a>
                        {% endif %}
                        {% if participation.youtube %}
                            <a href="http://www.youtube.com/{{ participation.youtube }}" target="_blank"
                               rel="nofollow"><i class="fa fa-youtube"></i></a>
                        {% endif %}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="content">
        <p class="text-center">
            Inscrit par {{ participation.user }}
        </p>
    </div>
{% endblock %}