<div class="banner banner_expo"
     onclick="document.location = '{{ path('participation', { slug: participation.slug }) }}'">
    <img src="{{ participation.banner }}" id="img_perview_banner" width="530" height="150"/>

    <div class="banner_infos">
        <div class="banner_text">
            {% if participation.isOwner(app.security.getToken().getUser()) %}
                <div class="banner_status verdana float_right">{{ participation.statusText }}</div>
            {% endif %}
            <div class="banner_title mce">{{ participation.name }}</div>
            {% if participation.isEditable(app.security.getToken().getUser()) and participation.statusDetail %}
                <div class="verdana banner_statusdetail">{{ participation.statusDetail }}</div>
            {% endif %}
        </div>

        <div class="banner_btn">
            {% if participation.isEditable(app.security.getToken().getUser()) %}
                <a href="{{ path('participer_edit', { id: participation.id }) }}" class="btn">Modifier</a>
            {% endif %}
            {% if participation.isOwner(app.security.getToken().getUser()) and participation.status == 2 %}
                <a href="{{ path('participer_schematic', { id: participation.id }) }}" class="btn">Schematic</a>
            {% endif %}
        </div>
    </div>
</div>