{% extends '::base.html.twig' %}

{% block content %}
    <div class="banner banner-big">
        {% if participation.schematicName %}
            <h2 class="mce">Schematic actuel</h2>
            <p><a href="{{ asset(participation.getWebPath()) }}">{{ participation.schematicName }}</a></p>
        {% else %}
            <h2 class="mce">Aucun schematic</h2>
            <p>
                Vous devez uploader un schematic avant le 12 avril à 23h59.<br />
                Tout schematic envoyé après cette date sera refusé et annulera votre candidature.
            </p>
        {% endif %}
    </div>
    <div class="content form_default">
        <h1>Upload du schematic</h1>
        <p>
            Il est obligatoire d'exporter vos schematics avec la version suivante de world edit:<br />
            <a href="http://builds.enginehub.org/job/worldedit/4562/download/worldedit-5.7-SNAPSHOT.zip">
                http://builds.enginehub.org/job/worldedit/4562/download/worldedit-5.7-SNAPSHOT.zip
            </a>
        </p>
        <div class="banner banner-big">
            <h2 class="mce">Inscriptions terminees</h2>

            <p>
                Les upload de schematics sont maintenant terminés, merci pour vos participations.
            </p>
        </div>
        {#
        {{ form(form) }}
        #}
        <p class="mt20 text-center">
            Merci de bien vouloir suivre les
            <a href="{{ path('page',{'slug':'indications-stands'}) }}">indications pour les stands</a>.
        </p>
    </div>
{% endblock %}