{% extends '::base.html.twig' %}

{% block content %}
    <div class="content form_default">
        <h1>Formulaire de participation</h1>
        {{ form(form) }}
        <p class="mt20 text-center">
            En vous inscrivant, vous déclarez accepter le
            <a href="{{ path('page',{'slug':'reglement'}) }}">règlement</a>
        </p>
    </div>
    <script>
        var defaultBannerUrl = "{{ asset('bundles/mineservexpomain/images/img_perview_banner.png') }}";
    </script>
{% endblock %}