{% extends '::base.html.twig' %}

{% block content %}
    {% for participation in participations %}
        {% include 'MineServExpoMainBundle:Default:participation_partial.html.twig' with {'participation': participation} %}
    {% else %}
        {#
            <div class="banner banner-big">
                <h2 class="mce">Avis aux participants</h2>

                <p>
                    Avant de vous inscrire, il vous est conseillé de vous informer sur les règles qui régieront votre
                    participations dans la section informations.
                </p>
            </div>
        #}
        <div class="banner banner-big">
            <h2 class="mce">Inscriptions terminees</h2>

            <p>
                Les inscriptions exposants sont maintenant terminées, merci pour vos participations.
            </p>
        </div>
    {% endfor %}
    {#
        <div class="banner banner-big box_link" onclick="document.location = '{{ path('participer') }}'">
            <h2 class="mce">Nouvelle participation</h2>

            <p>S'inscrire en tant qu'exposant de la MSE 2014</p>
        </div>
    #}
{% endblock %}