{% extends '::base.html.twig' %}

{% block body %}
    <div id="redir_content">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3">
                    <a href="{{ path('homepage') }}">
                        <img src="{{ asset('bundles/mineservexpomain/images/mineservexpo.png') }}" width="210"
                             height="80"/><br/>
                        <button class="btn btn-xs mt5"><i class="fa fa-arrow-circle-o-left"></i> Retour au site</button>
                    </a>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <p class="mce mt5 mb5">Visitez egalement les sites de nos partenaires</p>
                        {% for partner_name,partner_url in partners %}
                            <div class="col-md-3 partner_img">

                                <a href="{{ partner_url }}">
                                    <img title="Partenaire: {{ partner_name | capitalize }}"
                                         alt="Partenaire: {{ partner_name | capitalize }}"
                                         src="{{ asset('bundles/mineservexpomain/images/partners/' ~ partner_name ~ '.png') }}"
                                         height="42" width="120"/>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <iframe src="{{ url_decoded }}" id="iframe" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
            width="100%" height="100%" frameborder="0"></iframe>
{% endblock body %}


{% block custom_javascripts %}
    <script type="text/javascript">
        function calcHeight() {
            //find the height of the internal page
            var window_height = $(window).height();
            var new_height = window_height - $('#redir_content').height();
            $('#iframe').height(new_height);
        }
        $(document).ready(function () {
            calcHeight();
        });
        $(window).resize(function () {
            calcHeight();
        });
    </script>
{% endblock %}


{% block custom_stylesheets %}
    <style>
        html, body {
            height: 100%;
            padding: 0;
            margin: 0;
            font-size: 20px;
            line-height: 20px;
        }

        #redir_content {
            height: 120px;
            padding: 0;
            margin: 0;
        }

        iframe {
            border-top: 1px solid #00316b;
            position: absolute;
            bottom: 0;
            padding: 0;
            margin: 0;
            height: 100%;
            height: -moz-calc(100% - 120px);
            height: -webkit-calc(100% - 120px);
            height: -o-calc(100% - 120px);
            height: calc(100% - 120px);
            background: #ffffff;
        }

        .partner_img {
            margin: 0;
        }

        .mce {
            color: #e47304;
        }
    </style>
{% endblock %}