{% extends '::base.html.twig' %}

{% block content %}
    <div class="content fos_user form_default">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock content %}